:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --modal-duration: 0.8s;
  --color-primary: #fe142f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */
body {
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1400px;
  margin: auto;
  padding: 0 50px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

.main-button {
  background: var(--color-primary);
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.main-button:hover {
  background: #3876ac;
}

.modal-btn {
  font-size: 145%;
  background: var(--color-primary);
  display: flex;
  margin: auto;
  padding: 2em;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.copyrights {
  color: var(--color-primary);
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}
