:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --modal-duration: 0.8s;
  --color-primary: #fe142f;
  --color-error: #e54858;
  --color-custom-input: #279e7a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

/* Landing Page */
body {
  font-family: var(--font-default);
  max-width: 1360px;
  margin: auto;
  padding: 0 30px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

label {
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.no-scroll {
  overflow: hidden;
}

.main-button {
  background: var(--color-primary);
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.main-button:hover {
  background: #3876ac;
}

.copyrights {
  color: var(--color-primary);
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 584px) {
  html {
    font-size: 14px;
  }
}