#site-header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 3.5% 0;
}
#site-logo {
  margin-bottom: 15px;
}
#site-navbar {
  margin-left: auto;
}
#navigation-menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#site-header a {
  display: block;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

#toggle-navigation-button {
  display: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 12px;
  margin: 5px;
  margin-left: auto;
}

.navigation-element {
  background-color: transparent;
  padding: 12px;
  margin: 5px;
  font-size: 20px;
  border-radius: 15px;
  color: black;
}
.navigation-element:hover,
.navigation-element.active {
  background-color: red;
  color: white;
}

@media screen and (max-width: 768px) {
  #navigation-menu {
    display: none;
    flex-direction: column;
    align-items: stretch;
  }
  #site-navbar.menu-visible #navigation-menu {
    display: flex;
  }

  #site-navbar {
    position: relative;
  }
  #site-navbar.menu-visible #toggle-navigation-button {
    position: absolute;
    right: 0;
    top: 0;
  }
  #toggle-navigation-button {
    display: block;
  }
  #site-logo {
    width: 150px;
    margin-top: 10px;
  }
}

/* Handle toggle menu positioning */
@media screen and (max-width: 584px) {
  #site-header {
    position: relative;
  }
  #site-navbar {
    position: static;
  }
}

@media screen and (max-width: 310px) {
  #site-logo {
    margin-right: 100%;
  }
  #site-header {
    position: static;
  }
  #site-navbar {
    position: relative;
  }
}
