/* Modal form */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.modal.opened {
  display: block;
}

.close {
  background-color: transparent;
  outline: none;
  border: none;
  position: absolute;
  right: 22px;
  top: 22px;
  opacity: 1;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  z-index: 1;
}

.modal-content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
  position: relative;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

/* Slide from the bottom of the screen */
@keyframes bottomModal {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Modal style changes on small devices */
@media screen and (max-width: 584px) {
  .modal {
    background-color: transparent;
  }
  .modal.opened {
    display: flex;
    align-items: flex-end;
  }
  .modal-content {
    margin: 0;
    max-width: 100%;
    border-radius: 0;
    animation-name: bottomModal;
    animation-duration: 0.3s;
  }
}

/* Allow scrolling the form on small height devices */
@media screen and (max-height: 830px) and (max-width: 584px) {
  .modal.opened {
    align-items: stretch;
  }
  .modal-content {
    overflow: auto;
  }
}
